<nav>
	<div class="nav">
		<div class="nav-name">
			<img src="https://ddbdhxog1i1ki.cloudfront.net/web/assets/img/investnext_nav_white_logo.png">
			<h1 class="nav-hover">InvestNext</h1>
		</div>
		<div class="nav-a">
			<div class="nav-shadow">
				<div class="nav-icon">
					<a href="{%url 'crm:main'%}" class="material-icons">home </a><p class="nav-hover">Home</p>
				</div>
			</div>
			<div class="nav-shadow">
				<div class="nav-icon">
					<a href="{%url 'crm:contact'%}" class="material-icons">groups</a><p class="nav-hover">Contacts</p>
				</div>
			</div>
			  {% if user.is_authenticated %}
			 <div class="nav-shadow">
				<div class="nav-icon">
					<a href="{%url 'logout'%}" class="material-icons">exit_to_app</a><p class="nav-hover">LOG OUT</p>
				</div>
			</div>
			{%else%}
			<div class="nav-shadow">
				<div class="nav-icon">
					<a href="{%url 'login'%}" class="material-icons">login</a><p class="nav-hover">LOG IN</p>
				</div>
			</div>
			{%endif%}
		</div>
	</div>
</nav>