{%load static%}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{%static 'crm/style.css'%}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!--       <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=0;"> -->

<head>
	<title>InvestNext</title>
</head>
<body>
	{%include 'components/nav.html'%}
	<div class="main">
		{%block content%}{%endblock%}
	</div>
</body>
</html>