{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="contact-header">
        <div class="contact-items">
            <p class="material-icons">contact_page</p>
            <p>Contacts</p>
        </div>
        <div class="contact-items">
        </div>
        <div class="contact-items">
              {% if user.is_authenticated %}
            <p>Welcome <span class="bl-color">{{ user.username|title }}</span></p>
                {%endif%}
        </div>  
    </div>
 <div class="contact-info">
</div>
<div class="contact-content no-hr">
<div class="users">
    <form  method="POST" class="form-box">
         {% csrf_token %}
         <div class="field">
            <label for='' class="label">Username:</label>
            <div class="form-input">
                {{form.username}}
            </div>
         </div>
         <div class="field">
            <label for='' class="label">Password:</label>
                <div class="form-input">
                    {{form.password}}
                </div>
         </div>
        <div class="bt-box">
            <button class="form-bt">LOG IN</button>
        </div>  
    </form> 
     <div class="bt-box">
        <button class="form-bt"  onclick="location.href={% url 'register' %}">Sign Up Now</button>
        </div> 
</div>
</div>
{% endblock content %}

