{% extends "base.html" %}
{% block content %}
 <div class="contact-header">
</div>
 <div class="contact-info">
</div>
<div class="contact-content no-hr">
<div class="users">
        <div class="bt-box">
            <button class="form-bt" onclick="location.href={% url 'login' %}">LOG IN</button>
        </div>  
    </form>  
</div>
</div>
{% endblock content %}