{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="contact-header">
        <div class="contact-items">
            <p class="material-icons">contact_page</p>
            <p>Contacts</p>
        </div>
        <div class="contact-items">
        </div>
        <div class="contact-items">
              {% if user.is_authenticated %}
            <p>Welcome <span class="bl-color">{{ user.username|title }}</span></p>
                {%endif%}
        </div>  
    </div>
 <div class="contact-info">
</div>
<div class="contact-content no-hr">
<div class="users">
    <form  method="POST" class="form-box">
         {% csrf_token %}
         <div class="field">
            <label for='' class="label">Username:</label>
            <div class="form-input">
                {{form.username}}
            </div>
         </div>
         <div class="field">
            <label for='' class="label">Email:</label>
            <div class="form-input">
                {{form.email}}
            </div>
         </div>
         <div class="field">
            <label for='' class="label">Password1:</label>
            <div class="form-input">
                {{form.password1}}
            </div>
         </div>
         <div class="field">
            <label for='' class="label">Password2:</label>
            <div class="form-input">
                {{form.password2}}
            </div>
         </div>
         <div class="field">
            <label for='' class="label">First-Name:</label>
            <div class="form-input">
                {{form.first_name}}
            </div>
         </div>
         <div class="field">
            <label for='' class="label">Last-Name:</label>
            <div class="form-input">
                {{form.last_name}}
            </div>
         </div>
     <div class="bt-box">
        <button class="form-bt" type="submit">Sign Up Now</button>
        </div> 
     </form> 
     <div class="bt-box">
            <button class="form-bt" onclick="location.href={% url 'login' %}">LOG IN</button>
        </div> 
</div>
</div>

{% endblock content %}