{%extends 'base.html'%}
{%block content%}
	<div class="contact-header">
		<div class="contact-items">
			<p class="material-icons">contact_page</p>
			<p>Contacts</p>
		</div>
		<div class="contact-items">
		</div>
		<div class="contact-items">
			  {% if user.is_authenticated %}
			<p>Welcome <span class="bl-color">{{ user.username|title }}</span></p>
				{%endif%}
		</div>	
	</div>
	<div class="contact-info">
		<div class="all-contact">
			<button class="bt-sl blue-hover shadow">All contact</button>
			<form action="{% url 'crm:export' %}" method="post">
				{% csrf_token %}
				<button type="submit"class="bt-ss blue-hover shadow">Export</button>
 			</form>
		</div>
		<div class="all-contact ">
			 <form action="{% url 'crm:upload' %}" method="post" enctype="multipart/form-data" >
			    {% csrf_token %}
			    <button type="submit" class="upload ">Upload contact</button>
			    <label class="blue-hover material-icons"> get_app
			    <input type="file" name="myfile" >
			    </label>
			  </form>
		</div>
		<div class="all-contact">
			<button class="bt-ss blue-hover shadow">Filter</button>
			<button class="bt-ss blue-hover shadow">Action</button>
			<button class="bt-ss blue-hover shadow" onclick="location.href={% url 'crm:ContactCreate' %}">New</button>
		</div>
	</div>
	<div class="contact-content ">
	{%for contact in object_list%}
			<div class="contact-names blue-hover">
				<a href="{%url 'crm:indivisual_contact' contact.id %}" ><p >{{contact.first_name}} {{contact.last_name}}</p></a>
			</div>
			<div class="contact-more-info blue-hover">
				<p>{{contact.email}}</p>
			</div>
			<div class="contact-more-info blue-hover">
				<p>Registered</p>
			</div>
			<div class="contact-more-info blue-hover">
				<p>No</p>
			</div>
	{%endfor%}
	</div>

{%endblock%}