{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="contact-header">
        <div class="contact-items">
            <p class="material-icons">contact_page</p>
            <p>Contacts</p>
        </div>
        <div class="contact-items">
        </div>
        <div class="contact-items">
              {% if user.is_authenticated %}
            <p>Welcome <span class="bl-color">{{ user.username|title }}</span></p>
                {%endif%}
        </div>  
    </div>
    <div class="contact-info">
        <div class="all-contact">
            <button class="bt-sl blue-hover shadow">All contact</button>
            <form action="{% url 'crm:export' %}" method="post">
                {% csrf_token %}
                <button type="submit"class="bt-ss blue-hover shadow">Export</button>
            </form>
        </div>
        <div class="all-contact">
              <form action="{% url 'crm:upload' %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <button type="submit" class="upload">Upload contact</button>
                <label class="blue-hover material-icons"> get_app
                <input type="file" name="myfile" >
                </label>
              </form>
        </div>
        <div class="all-contact">
            <button class="bt-ss blue-hover shadow">Filter</button>
            <button class="bt-ss blue-hover shadow">Action</button>
            <button class="bt-ss blue-hover shadow" onclick="location.href={% url 'crm:ContactCreate' %}">New</button>
        </div>
    </div>
<div class="contact-content no-hr">
    <div class="users field">
        <form method="POST"  class="form-box">
            {% csrf_token %}
               <h2>Do you want to delete this file ({{object.first_name}})?</h2>
            <div class="bt-box">
                <button class="form-bt " type="submit">Delete</button>
                <a href="{%url 'crm:contact'%}" class="field">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}