{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="contact-header">
        <div class="contact-items">
            <p class="material-icons">contact_page</p>
            <p>Contacts</p>
        </div>
        <div class="contact-items">
        </div>
        <div class="contact-items">
              {% if user.is_authenticated %}
            <p>Welcome <span class="bl-color">{{ user.username|title }}</span></p>
                {%endif%}
        </div>  
    </div>
    <div class="contact-info">
        <div class="all-contact">
            <button class="bt-sl blue-hover shadow">All contact</button>
            <form action="{% url 'crm:export' %}" method="post">
                {% csrf_token %}
                <button type="submit"class="bt-ss blue-hover shadow">Export</button>
            </form>
        </div>
        <div class="all-contact">
              <form action="{% url 'crm:upload' %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <button type="submit" class="upload">Upload contact</button>
                <label class="blue-hover material-icons"> get_app
                <input type="file" name="myfile" >
                </label>
              </form>
        </div>
        <div class="all-contact">
            <button class="bt-ss blue-hover shadow">Filter</button>
            <button class="bt-ss blue-hover shadow">Action</button>
            <button class="bt-ss blue-hover shadow" onclick="location.href={% url 'crm:ContactCreate' %}">New</button>
        </div>
    </div>

<div class="contact-content no-hr">
    <div class="users ">
       <form  method="POST" class="form-box">
         {% csrf_token %}
         <div class="field">
            <label for='first_name' class="label">First-name:</label>
            <div class="form-input">
                {{form.first_name}}
            </div>
         </div>
         <div class="field">
            <label for='last_name' class="label">Last-name:</label>
            <div class="form-input">
                {{form.last_name}}
            </div>
         </div>
         <div class="field">
            <label for='email' class="label">Email:</label>
            <div class="form-input">
                {{form.email}}
            </div>
         </div>
         <div class="field">
            <label for='address_one' class="label">Address1:</label>
            <div class="form-input">
                {{form.address_one}}
            </div>
         </div>
         <div class="field">
            <label for='address_two' class="label">Address2:</label>
            <div class="form-input">
                {{form.address_two}}
            </div>
         </div>
         <div class="field">
            <label for='city' class="label">City:</label>
            <div class="form-input">
                {{form.city}}
            </div>
         </div>
         <div class="field">
            <label for='state' class="label">State:</label>
            <div class="form-input">
                {{form.state}}
            </div>
         </div>
         <div class="field">
            <label for='code' class="label">Code:</label>
            <div class="form-input">
                {{form.code}}
            </div>
         </div>
         <div class="field">
            <label for='phone_number' class="label">Phone:</label>
            <div class="form-input">
                {{form.phone_number}}
            </div>
         </div>
     <div class="bt-box">
      <button class="form-bt" type="submit">Update</button>
        </div> 
     </form> 
    </div>
</div>

{% endblock content %}