{%extends 'base.html'%}
{%block content%}
	<div class="contact-header">
		<div class="contact-items">
			<p class="material-icons">contact_page</p>
			<p>Contacts</p>
		</div>
		<div class="contact-items">
		</div>
		<div class="contact-items">
			  {% if user.is_authenticated %}
			<p>Welcome <span class="bl-color">{{ user.username|title }}</span></p>
				{%endif%}
		</div>	
	</div>
	<div class="contact-info">
		<div class="all-contact">
			<button class="bt-sl blue-hover shadow">All contact</button>
			<form action="{% url 'crm:export' %}" method="post">
				{% csrf_token %}
				<button type="submit"class="bt-ss blue-hover shadow">Export</button>
 			</form>
		</div>
		<div class="all-contact">
			  <form action="{% url 'crm:upload' %}" method="post" enctype="multipart/form-data" >
			    {% csrf_token %}
			    <button type="submit" class="upload">Upload contact</button>
			    <label class="blue-hover material-icons"> get_app
			    <input type="file" name="myfile" >
			    </label>
			  </form>
		</div>
		<div class="all-contact">
			<button class="bt-ss blue-hover shadow">Filter</button>
			<button class="bt-ss blue-hover shadow">Action</button>
			<button class="bt-ss blue-hover shadow" onclick="location.href={% url 'crm:ContactCreate' %}">New</button>
		</div>
	</div>
	<div class="contact-content no-hr ">
		<div class="contact-card shadow">
			<div class="card-content br-top">
				<h2>{{contact.first_name}}</h2>
				<div>
					<a href="{%url 'crm:ContactDelete' contact.pk%}" class="material-icons blue-hover float-r">delete</a>
					<a href="{%url 'crm:ContactUpdate' contact.pk%}" class="material-icons blue-hover float-r">rate_review</a>
					<a href="{%url 'crm:post_card' contact.pk%}" class="material-icons blue-hover float-r">markunread_mailbox</a>
				</div>
			</div>
			<div class="card-content">
				<h3>About this contact</h3>
			</div>
			<div class="card-content no-hr">
				<h3>Email</h3>
				<p>{{contact.email}}</p>
				<h3>Adddress</h3>
				<p>{{contact.address_one}}</p>
				<p>{{contact.address_two}}</p>
				<p>{{contact.city}},{{contact.state}},{{contact.code}}</p>
				<h3>Phone</h3>
				<p>{{contact.phone_number}}</p>
			</div>
			<div class="card-content no-hr">
			</div>
		</div>
	</div>
</div>

{%endblock%}


