{%extends 'base.html'%}
{%block content%}
<div class="main-content">
	<h3>Become a world-class real estate investment firm.
	</h3>
	<p>InvestNext is a modern real estate investment management software that consolidates all of your investment and investor information, enabling you to focus on growing your business and provide best-in-class service to investors.</p>
</div>

<div class="main-section">
	<div class="main-box">
		<span  class="material-icons">monetization_on</span>
		<h2>Fundraise More Effectively</h2>
		<p>Close more deals by centralizing, prioritizing, and automating fundraising activities.</p>
		<button>Grow</button>
	</div>
	<div class="main-box">
		<span  class="material-icons">leaderboard</span>
		<h2>Streamline Your Back-Office</h2>
		<p>Reduce overhead by automating your back-office and reallocate your team's efforts to higher-value activities.</p>
		<button>Optomize</button>
	</div>
	<div class="main-box">
		<span  class="material-icons">table_view</span>
		<h2>Delight Your Investors</h2>
		<p>Instill greater confidence among your partners and investors with institutional-grade communication and reporting.</p>
		<button>Engage</button>
	</div>
</div>

{%endblock%}