:root{
	--main-color:#283747;
	--font-color:#5d5f5f;
	--blue-color:#3498DB;
}
.bl-color{
	color: var(--blue-color);
}
a{
	color: var(--main-color);
}	
body {
  margin: 0px;
  background-color: #fff;
  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: 2px;
  color: var(--font-color);
  font-family: "Andika New Basic", sans-serif;
  text-shadow: 0.9px 0.2px black;
}
a,
textarea,
input,
span,
button,
li,
button {
  text-decoration: none !important;
  border: none !important;
  list-style: none !important;
  outline: none;
  background: none !important;
  text-shadow: horizontal-offset vertical-offset blur color !important;
}
.nav{
	top: 0;
	left: 0;
	position: fixed;
	width: 4em;
	height: 100vh;
	background-color: var(--main-color);
	display: grid;
	grid-template-rows: 30vh auto;
	padding-right: 1em;
	z-index: 3;
}
.nav-hover{
	display: none;
	float: right;
	color: white;
}
.nav:hover .nav-hover{
	width: auto;
	display: block;
}
.nav:hover {
	width: auto;
	visibility: visible;
}
.nav-name img{
	margin-top: 1.6em;
	color: white;
	width: 2.4em;
	margin: 1em;

}
.nav-shadow:hover{
	background-color: #1C2833;
}
.nav-icon{
	margin: 1em;
	background-color:#1C2833;
	border-radius: 5px;
	padding:0.1em;
	display: grid;
	grid-template-columns: auto auto ;
	align-items: center; 
	font-size: 0.7em;
	text-align: center;
	opacity: 70%;
}
.nav-icon:hover{
	opacity: 100%;
}
.nav-icon a,span{
	color: white;
	margin: 0.3em
}

.main{
	margin-left:5em;
	 
}
.main-content{
	margin:2em;
	padding: 2em;
	align-items: center;
	text-align: center;
}
.main-section{
	display: grid;
	grid-template-columns: auto auto auto;
	margin:2em;
	padding: 2em;
	align-items: center;
	text-align: center;
}
.main-section span{
	font-size: 7em;
	color: #3498DB;
}
.main-section button{
	width: 9em;
	height: 3em;
	border:1px solid gray !important;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
}
.main-section button:hover{
	width: 9em;
	height: 3em;
	background-color: black !important;
	border-radius: 3px;
	color: white;
}
/*Contact section */
.contact-header{
	width: 95vw;
	height: 4em;
	top: 0;
	position: fixed;
	padding-left: 1em;
	display: grid;
	grid-template-columns: 20vw 60vw 20vw;
	align-items: center;
	z-index: 2;
	background-color: white;
}
.contact-items{
	display: flex;
	align-items: center;
}
.contact-info{
	width: 95vw;
	height: 6em;
	margin-top: 4em;
	background-color: #F2F3F4;
	position: fixed;
	padding-left: 1em;
	display: grid;
	grid-template-columns: 40vw 23vw 40vw ;
}
.bt-ss{
	width: 7vw;
	background-color: gray;
	height: 3em;
	color:  #3498DB !important;
	border-radius: 5px;
	font-weight: bold;
	background-color: #AAB7B8 !important;
	margin-right: 0.5em;
}
.bt-sl{
	width: 14vw;
	border:1px solid #3498DB !important;
	height: 3em;
	color:  #3498DB !important;
	border-radius: 5px;
	margin-right: 0.5em;
}
.blue-hover:hover{
	background-color:  #3498DB !important;
	color: white !important;
}
.all-contact{
	margin: auto 1em; 
	display: flex;
}
.contact-content{
	width: 95vw;
	position: static;
	top:14.3em; 
	display: grid;
	grid-template-columns: 23vw 23vw 23vw auto;
	border-bottom: 0.2px solid gray;
	font-size: 0.7em;
	z-index: -6;
	margin-bottom: 10em;
	padding-top: 14em;
}
.float-r{
	float: right;
	margin: 0.3em;
}
.contact-names{
	border-top:0.2px solid gray;
	padding-left: 1em;
	border-right: 0.2px solid gray;

}
.contact-more-info{
	border-top:0.2px solid gray;
	padding-left: 1em;
}
.contact-card{
	margin-top: 3em;
	height: auto;
	width: 24vw;
	background-color: #F2F3F4;
	border-radius: 10px;
	margin-left: 1em;
	display: grid;
	grid-template-rows: 15vh 6vh 26vh auto;
}
.card-content{
	padding: 0.4em;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	border-bottom:0.4px solid  #3498DB;
}
.no-hr{
	border:none;
}
.br-top{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* User section */
.users{
	margin: 1em;
	margin: 3em auto;
}

.field{
	display: flex;
	margin: 1em;
	align-items: center;
}
.form-box{
}
.label{
	width: 9vw;
}
.form-input{
	background-color: #EAEDED;
	border-radius:5px;

}
input{
	width: 40vw;
	height: 3em;
	padding-left:0.3em;
	font-size: 0.9em;
}
.bt-box{
	width: 20vw;
	background-color: var(--main-color);
	margin: 1em auto;
	height: 2em;
	border-radius: 5px;
}
.form-bt{
	width: 20vw;
	color: white;
	font-size: 1.1em
}

.bt-box:hover{
	background-color:  #3498DB !important;
	color: white !important;
}
.upload{
	color: #3498DB !important;
}
input[type="file"] {
    display: none;
    height: 3em
}
.shadow{
	box-shadow: 5px 5px 6px -6px #888888;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }


}